.page-new-question-mapping.form-question-mapping
  = simple_form_for @question do |f|
    = f.input :kind, :as => :hidden

    = f.input :content, as: :text

    = f.input :mapping_answer, as: :question_mapping_answer

    = f.input :analysis, as: :text

    = f.input :level, collection: [ "1", "2", "3","4","5", "6","7","8","9","10"], :prompt =>'请选择难度系数'

    = f.input :enabled, as: :radio_buttons, collection: [[true,'启用'],[false,'禁用']], value_method: :first, label_method: :last

    = f.button :submit, "添加"
