.quesstion-index
  %table{:class=>"table table-striped"} 
    %thead
      %tr
        %th 编号
        %th 题目
        %th 答案
        %th 难度系数
        %th 类型
        %th 状态
        %th 添加时间
        %th 操作
    %tbody
      - @questions.each do |q|
        %tr
          %td
            - q.id = q.id.to_s
            = q.id
          %td
            = q.content
          %td
            = q.analysis
          %td
            = q.level
          %td
            = q.kind
          %td
            = q.enabled
          %td
            = q.created_at
          %td
            %a{:role=>"button",class: "btn btn-success fix ",:href=>"javascript:;"}修改
            %a{:role=>"button",class: "btn btn-success ban ",:href=>"javascript:;"}禁用
            %a{:role=>"button",class: "btn btn-success delete ",:href=>"javascript:;"}删除
            %a{:role=>"button",class: "btn btn-success find-tag ",:href=>"javascript:;"}查看版本


