.page-new-question-mapping
  = simple_form_for @question do |f|
    = f.input :kind, :as => :hidden, :input_html => { :value => "mapping" }

    = f.input :content, as: :text

    = f.input :mapping_answer do
      .option-key-field
        / 选项及答案:
        .item
          = f.input_field :mapping_answer,:name=>'question[mapping_answer][0][]'
          = f.input_field :mapping_answer,:name=>'question[mapping_answer][0][]'
          %a{:role=>"button",class: "btn btn-success delete hidden",:href=>"#"}删除连线
        .item
          = f.input_field :mapping_answer,:name=>'question[mapping_answer][1][]'
          = f.input_field :mapping_answer,:name=>'question[mapping_answer][1][]'
          %a{:role=>"button",class: "btn btn-success delete hidden",:href=>"#"}删除连线
        .add-items
          %a{:role=>"button",class: "btn btn-success append ",:href=>"#"}添加一组选项
          %span 请将正确答案连接

    = f.input :analysis, as: :text

    = f.input :level, collection: [ "1", "2", "3","4","5", "6","7","8","9","10"], :prompt =>'请选择难度系数'

    = f.input :enabled, as: :radio_buttons, collection: [[true,'启用'],[false,'禁用']], value_method: :first, label_method: :last

    = f.button :submit, "添加"
