.page-new-mapping
  = simple_form_for @question do |f|
    / 类型：
    = f.hidden_field :kind, :value=>"mapping"
    .topic-field
      / 题目：
      = f.text_area :content 
    .supply-field
      / 附件:
    .option-key-field
      / 选项及答案:
      .item
        = f.input_field :mapping_answer,:name=>'question[mapping_answer][0][]'
        = f.input_field :mapping_answer,:name=>'question[mapping_answer][0][]'
        %a{:role=>"button",class: "btn btn-success delete hidden",:href=>"#"}删除连线
      .item
        = f.input_field :mapping_answer,:name=>'question[mapping_answer][1][]'
        = f.input_field :mapping_answer,:name=>'question[mapping_answer][1][]'
        %a{:role=>"button",class: "btn btn-success delete hidden",:href=>"#"}删除连线
      .add-items
        %a{:role=>"button",class: "btn btn-success append ",:href=>"#"}添加一组选项
        %span 请将正确答案连接
    .analysis-field
      / 解析:
      = f.text_area :analysis 
    .level-select-field
      / 难度系数:
      = f.select :level,  [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5'],[6, '6']]
    .radio-field
      / 状态：
      / 启用：
      = f.radio_button :enabled, [true],:checked => true
      / 禁用：
      = f.radio_button :enabled, [false]   
    .submit-field
      = f.button :submit, "添加", class: "btn btn-success"
      %a{:role=>"button",class: "btn btn-success",:href=>"#"}预览

  
