.page-new-question-multi-choice
  = simple_form_for @question,:input_html  => {:class => "form-horizontal"} do |f|
    = f.input :kind, :as => :hidden, :input_html => { :value => "multi_choice" }

    = f.input :content, as: :text

    = f.input :choice_answer_indexs do
      .checkbox
        = f.text_field :choice_answer_indexs,:type => 'checkbox',:value => 0, :name => 'question[choice_answer_indexs][]', :id => 'question_choice_answer_indexs_1'
        = f.text_field :choices, :name => "question[choices][]"
      .checkbox
        = f.text_field :choice_answer_indexs,:type => 'checkbox',:value => 1, :name => 'question[choice_answer_indexs][]', :id => 'question_choice_answer_indexs_2'
        = f.text_field :choices, :name => "question[choices][]"
      %a.btn.btn-default.add-choice
        = '添加选项'

    = f.input :analysis, as: :text

    = f.input :level, collection: [ "1", "2", "3","4","5", "6","7","8","9","10"], :prompt =>'请选择难度系数'

    = f.input :enabled, as: :radio_buttons, collection: [[true,'启用'],[false,'禁用']], value_method: :first, label_method: :last

    = f.button :submit, "添加题目"
