.page-new-question-single-choice
  = simple_form_for @question,:input_html  => {:class => "form-horizontal"} do |f|
    = f.input :kind, :as => :hidden, :input_html => { :value => "single_choice" }

    = f.input :content, as: :text

    = f.input :choice_answer_indexs, as: :question_single_choice_answer

    = f.input :analysis, as: :text

    = f.input :level, collection: [ "1", "2", "3","4","5", "6","7","8","9","10"], :prompt =>'请选择难度系数'

    = f.input :enabled, as: :radio_buttons, collection: [[true,'启用'],[false,'禁用']], value_method: :first, label_method: :last

    = f.button :submit, "添加题目"
