.question-flaw
  %ul.nav.nav-tabs
    %li{role: "presentation"}
      %a{href: '/question_record'} 做题记录
    %li.active{role: "presentation"}
      %a{href: '/question_flaw'} 错题本
    %li{role: "presentation"}
      %a 题目收藏

  %table.table
    %tr
      %td
  %table.table.result-table
    %tr
      %td 类型：
      %td
        %a.btn-default{href: 'javaScript:;'} 全部
      %td
        %a.btn-default{href: 'javaScript:;'} 单选题
      %td
        %a.btn-default{href: 'javaScript:;'} 多选题
      %td
        %a.btn-default{href: 'javaScript:;'} 填空题
      %td
        %a.btn-default{href: 'javaScript:;'} 连线题
      %td
        %a.btn-default{href: 'javaScript:;'} 判断题
      %td
        %a.btn-default{href: 'javaScript:;'} 论述题
    %tr
      %td 时间：
      %td 
        %a.btn-default{href: 'javaScript:;'} 全部
      %td
        %a.btn-default{href: 'javaScript:;'} 一周内
      %td
        %a.btn-default{href: 'javaScript:;'} 一个月内
      %td
        %a.btn-default{href: 'javaScript:;'} 三个月内
      %td{colspan: 3} 
        %input{type: "text"} ——
        %input{type: "text"}
        %a.btn-default{href: 'javaScript:;'}
          %i.glyphicon.glyphicon-search

  %table.table.table-hover.flaw-table
    %thead.flaw_thead
      %td
      %th.th_record_one 时间
      %th.th_record_two 题目
      %th.th_record_three 正确答案
      %th.th_record_four 答案解析
      %th.th_record_five 操作
    %tbody.flaw_tbody
      - if @question_flaw.blank?
        %tr
          %td{colspan: 4} 没有数据
      - @question_flaw.each do |flaw|
        %tr
          %td
            %input{type: "checkbox"}
          %td
            = flaw.created_at
          - questions = QuestionBank::Question.find(flaw.question_id)
          %td 
            = questions.content
          %td 
            - case questions.kind
              - when "single_choice"
                = questions.choice_answer_indexs[0]+1
              - when "multi_choice"
                - choice_answer_indexs = questions.choice_answer_indexs.map { |e| e=e+1  }
                = choice_answer_indexs*","
              - when "bool"
                = questions.bool_answer
              - when "mapping"
                - questions.mapping_answer.each do |mapping_team|
                  %br
                  = mapping_team*","
              - when "fill"
                = questions.fill_answer*","
              - when "essay"
                = questions.essay_answer
          %td 
            =questions.analysis
          %td 
            %a.btn.btn-default{ href: "javaScript:;" } 
              %i.glyphicon.glyphicon-repeat
              %span 重做
            %a.btn.btn-default.flaw-delete{ href: "javaScript:;", data: { :confirm => "确认删除吗？", :question_flaw_id => flaw.id} } 
              %i.glyphicon.glyphicon-trash
              %span 删除
  .flaw-bottom
    %input{ type: "checkbox" } 全选
    %button.btn.btn-default{ type: "button" }
      %i.glyphicon.glyphicon-trash
      %span 批量删除记录

