:ruby
  num_cn_conv = QuestionBank::NumCnConv.new
.page-test_paper
  %h1.text-center= @test_paper.title
  .text-center
    = "试卷满分 #{@test_paper.score} 分"
    = "考试时间 #{@test_paper.minutes} 分钟"

  .sections
    - @test_paper.sections.each_with_index do |section, section_index|
      .section.clearfix{data: {section_id: section.id}}
        %h3
          = num_cn_conv.num2cn section_index + 1
          、
          = section.kind.text
          = " (共#{section.questions.count}题，每题#{section.score}分)"

        %ol.section_questions
          - section.questions.each_with_index do |sq, sq_index|
            - question = sq
            %li
              .question_content= question.content
              .answers
                - case question.kind 
                - when "single_choice"
                  - question.choices.each_with_index do |choice_code, choice_index|
                    .answer.radio
                      %label
                        %input{type:"radio", name: "#{section_index}_#{sq_index}"}
                          = english_choices[choice_index]
                          、
                          = choice_code
                - when "multi_choice"
                  - question.choices.each_with_index do |choice_code, choice_index|
                    .answer.checkbox
                      %label
                        %input{type:"checkbox"}
                          = english_choices[choice_index]
                          、
                          = choice_code
                - when "bool"
                  .answer
                    %label
                      %input{type:"radio", name: "#{section_index}_#{sq_index}", value: 'true'}
                      对
                    %label
                      %input{type:"radio", name: "#{section_index}_#{sq_index}", value: 'false'}
                      错
                - when "mapping"
                  - question.mapping_answer.each_with_index do |mapping, index|
                    .answer
                      = index + 1
                      \. 
                      = mapping[0]
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      = english_choices[index]
                      \. 
                      = mapping[1]

                - when "essay"
                  .answer
                    %textarea.form-control{name: "#{section_index}_#{sq_index}"}

                - when "fill"
                  .answer
                    - question.fill_answer.length.times do |index|
                      %label
                        = english_choices[index]
                        %input{type: 'text', name: "#{section_index}_#{sq_index}_#{index}", id:  "#{section_index}_#{sq_index}_#{index}"}
                      %br
              %p
