!!!
%html{:lang => :zh}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}

    %title rails engine: question_bank
    = csrf_meta_tags
    = stylesheet_link_tag 'question_bank/application', :media => 'screen'
    = javascript_include_tag 'question_bank/application'

  %body
    %nav.navbar.navbar-inverse
      .container
        .navbar-header
          %a.navbar-brand 题库
        %ul.nav.navbar-nav
          %li= link_to "题库管理","/questions"
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => '/auth/logout', :data => {:method => :delete}} 登出
    .container
      = yield
